.width-box {
    width: 100%;
}

a, p, h1, h2, li {
    font-family: 'Montserrat', sans-serif;
}

.main-color {
    color: #18CFAB;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

/* Общий стиль для всех заголовков h2 */

.section-title {
    margin-top: 82px;
    margin-bottom: 41px;
    font-size: 36px;
    color: rgb(78, 78, 78);
    text-align: center;
}

/* Стили линий под каждым заголовком */

.line {
    margin: 0 auto 70px;
    width: 76px;
    height: 1px;
    position: relative;
}

.line::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -6px;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

.line::after {
    content: '';
    position: absolute;
    top: 0;
    left: 6px;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
}

 /* Стиль для кнопок */

.button {
    width: 166px;
    height: 61px;
    display: block;
    position: relative;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
}

.button::after {
    content: '';
    width: 166px;
    height: 61px;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 61px;
    color: #ffffff;
    background-color: #18cfab;
    border-radius: 5px;
}

.header {
    padding-bottom: 244px;
    background: url(../img/header-bg.png) fixed center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header-menu {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(102, 101, 96, .5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.logo {
    font-size: 32px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
}

.logo span {
    font-weight: bold;
}

.logo::before {
    content: 'H';
    background-image: url(../img/logo.png);
    width: 58px;
    height: 67px;
    position: absolute;
    left: -64px;
    top: -20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height: 67px;
}

.menu {
    width: 644px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #b8b8b8;
    position: relative;
}

.menu-item:hover {
    color: #18cfab;
}

.menu-item:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    top: 65px;
}

.search {
    height: 22px;
    width: 22px;
    outline: none;
    background: url("../img/search-icon.png");
    border: none;
    cursor: pointer;
}

.header-title {
    margin-top: 246px;
    margin-bottom: 45px;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

h1  {
    font-size: 79px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.header-description {
    margin-top: 37px;
    margin-bottom: 142px;
    font-size: 34px;
    color: rgba(212, 212, 212, 255);
    text-align: center;
    font-weight: 300;
}

.buttons {
    margin: 0 auto;
    width: 360px;
    display: flex;
    justify-content: space-between;
}

.first-btn::after {
    content: 'explore now';
}

.second-btn::after {
    content: 'purchase now';
    background-color: #00cbf6;
}

/* ABOUT SECTION */

.about {
    display: flex;
}

.about-box {
    width: 25%;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18cfab;
    color: #ffffff;
    border-top: 7px solid white;
}

.about-box:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
}

.about-box:nth-child(add) > .desc {
    color: #18cfab;
}

.about-icon1 {
    width: 100px;
    height: 100px;
    background: url(../img/about-icon-1.png) center center no-repeat;
}
.about-icon2 {
    width: 100px;
    height: 100px;
    background: url(../img/about-icon-2.png) center center no-repeat;
}

.about-icon3 {
    width: 100px;
    height: 100px;
    background: url(../img/about-icon-3.png) center center no-repeat;
}

.about-icon4 {
    width: 100px;
    height: 100px;
    background: url(../img/about-icon-4.png) center center no-repeat;
}

.desc {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Секция с табами */

.services {
    padding-bottom: 101px;
}

.tabs-caption {
    display: flex;
    margin-bottom: 25px;
}

.tabs-caption li {
    margin-left: -1px;
    width: 192px;
    height: 73px;
    font-size: 16px;
    text-align: center;
    line-height: 73px;
    color: #959697;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    cursor: pointer;
}

.tabs-caption li:hover {
    position: relative;
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #ffffff;
}

.tabs-caption li:hover::after {
    content: '';
    position: absolute;
    top: 73px;
    left: calc(50% - 14px);
    border: 14px solid transparent;
    border-top: 14px solid #18cfab;
}

.tab-content {
    display: flex;
    justify-content: space-between;
}

.tab-content > img {
    width: 194px;
    height: 139px;
}

.tab-content p {
    width: 937px;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    line-height: 1.6;
}

/* Buy and install section */

.install {
    height: 476px;
    position: relative;
    background: url("../img/bg-buy-and-install.png") fixed center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
}

.install-absolute {
    height: 476px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.install-title {
    margin-top: 128px;
    margin-bottom: 35px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.install-desc {
    margin-bottom: 76px;
    font-size: 16px;
    color: rgba(216, 216, 216, 255);
    text-align: center;
}

.install-btn {
    margin: 0 auto;
}

.install-btn::after {
    content: 'purchase now';
}





